/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(120deg, #0f2027, #203a43, #2c5364);
    color: #fff;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

/* Encabezado */
header {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    width: 100%;
    text-align: center;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
}

header h1 {
    color: #1abc9c;
    text-transform: uppercase;
    font-size: 2rem;
}

/* Contenedor de datos */
#data-container {
    margin-top: 30px;
    width: 90%;
    max-width: 800px;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
}

/* Tabla */
table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}

th, td {
    padding: 10px;
    border-bottom: 1px solid #1abc9c;
}

th {
    color: #1abc9c;
    text-transform: uppercase;
}

tbody tr:hover {
    background: rgba(255, 255, 255, 0.1);
}

/* Estilo del botón */
button {
    background-color: #1abc9c; /* Fondo verde-azul */
    color: white; /* Texto blanco */
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s, transform 0.3s;
    margin-top: 20px; /* Separación entre el contenido y el botón */
}

/* Efecto hover */
button:hover {
    background-color: #16a085; /* Fondo más oscuro */
    transform: scale(1.1); /* Efecto agrandado */
}

/* Efecto focus */
button:focus {
    outline: none;
    box-shadow: 0 0 10px #1abc9c;
}
